img {
    position: fixed;
    left: 0px;
    z-index: -100;
    width: 1600px;
    background-repeat: no-repeat;
}

input[type=text], select, textarea {
    width: 98%;
    padding: 6px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
    margin-left: 10px;
    resize: vertical;
    background: transparent;
    color: white;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #a04b45;
}

#legend {
    color: white;
}