<!DOCTYPE html>
<html>

	<head>
		<title>Insight Treats | SIT</title>
		<meta charset = UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
                function mClick (y) {
                    //alert(username)
                        $.ajax({
                            url : "/hover/" + '{{username}}' + '/',
                            type: 'GET',
                            success: function(result){
                                //alert(result);
                                $('.timeline').html(result);
                            }
                        });
                    }
        </script>
        
    </head>
    
    <body>
        {% for x in range(pro|count) %}
            {% if (x%2)==0 %}
                <div class="container lt">
                    <div class="content" onclick="mClick(this)"> 
                        <a> {{ pro[x][0]|safe }} <br><br> {{ pro[x][1]|safe }} <br><br> {{ pro[x][2]|safe }} </a>
                    </div> 
                </div>
            {% endif %}
            {% if (x%2)!=0 %}
                <div class="container rt"> 
                    <div class="content" onclick="mClick(this)"> 
                        <a> {{ pro[x][0]|safe }} <br><br> {{ pro[x][1]|safe }} <br><br> {{ pro[x][2]|safe }} </a> 
                    </div> 
                </div>
            {% endif %}
        {% endfor %}

        Hello There

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    </body>
</html>