<!DOCTYPE html>
<html lang = "en">

	<head>
		<title>Insight Treats | SIT</title>
		<meta charset = UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
    </head>
    
    <body>
      
        <div class="container left">
            <div class="content">
                    <a>{% for x in range(1) %} 
                           
                                        {{ pro[x][0]|safe }} 
                                        <br><br>
                                        {{ pro[x][1]|safe }} 
                                        <br><br>
                                        {{ pro[x][2]|safe }} 
                        
                        {% endfor %}
                
                    </a>
            </div>
        </div>

        <div class="container right">
            <div class="content">
                    <a>{% for x in range(50,51) %}
                            {% if 50 < pro|length %}
                            
                                         {{ pro[x][0]|safe }} 
                                         <br><br>
                                         {{ pro[x][1]|safe }} 
                                         <br><br>
                                         {{ pro[x][2]|safe }} 
                            {% endif %}
                         {% endfor %}
                 
                     </a>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
    </body>
</html>