<!DOCTYPE html>
<html lang = "en">

	<head>
		<title>Insight Treats | SIT</title>
		<meta charset = UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='url.css')}}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='random.js')}}"></script>
        
    </head>
    
    <body onload="myFunction()">
      

         <form action = '/save/' method = POST class="details2" >
          <fieldset>
          <legend id="legend">Please fill in the following details</legend>
          <div id="flash">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                 {% for message in messages %}
                    {{ message }}
                 {% endfor %}
              {% endif %}
           {% endwith %}
          </div>
          
                   
            <div style = font-size:20px; font-weight:bold; id="white">
                            {{ed.uname}}
                            {{ ed.p_name.label }}  {{ ed.p_name(placeholder="Project Title") }}
                            {{ ed.des(placeholder="Project you have worked upon") }}
                            {% if 'python' in list1 %}
                            {{ed.python}}  {{ed.python.label}} 
                          {% endif %}
                          {% if 'cpp' in list1 %}
                            {{ed.cpp}}  {{ed.cpp.label}} 
                          {% endif %}
                          {% if 'java' in list1 %}
                            {{ed.java}}  {{ed.java.label}} 
                          {% endif %}
                          {% if 'js' in list1 %}
                            {{ed.js}}  {{ed.js.label}} 
                          {% endif %}
                          {% if 'iot' in list1 %}
                            {{ed.iot}}  {{ed.iot.label}} 
                          {% endif %}
                          {% if 'ml' in list1 %}
                            {{ed.ml}}  {{ed.ml.label}} 
                          {% endif %}
                          {% if 'vr' in list1 %}
                            {{ed.vr}}  {{ed.vr.label}} 
                          {% endif %}
                          {% if 'ar' in list1 %}
                            {{ed.ar}}  {{ed.ar.label}} 
                          {% endif %}
                          {% if 'cc' in list1 %}
                            {{ed.cc}}  {{ed.cc.label}} 
                          {% endif %}
                          {% if 'eh' in list1 %}
                            {{ed.eh}}  {{ed.eh.label}} 
                          {% endif %}
              <br>
                            
              {{ ed.submit }}
              <input class="button" type="reset" value="Reset" id="reset" ></input>
            </div>
          </fieldset>
        </form>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
    </body>
</html>